<nav>
    <ul>
        <li class="btn red brandLogo border"><a href="/about">Chuck's Tees</a></li>
        <li class="border"><a href="/placeorder">Shop</a></li>
        <li class="border"><a href="/profile">Profile</a></li>
        <li class="border"><a href="/login">Login</a></li>
        <li class="border"><a href="/logout">Logout</a></li>
        <li class="border"><a href="/signup">Sign Up</a></li>
        <li class="border"><a href="/adminLanding">Admin</a></li>

    </ul>
</nav>

<div class="login-image z-depth-5">
            <div class="card z-depth-4" id="aboutCard">
                <div class="card-content black-text">
                    <span class="card-title center black-text">About us</span>
                    <p class="black-text">Have a design in mind? We can put any design you want on the front and back of a selection of shirts.
                        We are also happy to make a design for you. Login to get started. </p>
                </div>
                <div class="card-action">
                    <div class="fixed-action-btn horizontal click-to-toggle">
                        <a class="btn-floating black btn-small">
                            <i class="material-icons red">menu</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating">
                                <i class="red fa fa-facebook"></i> Sign in with facebook</a></li>
                            <li><a class="btn-floating">
                                <i class="red fa fa-instagram"></i> Sign in with instagram</a></li>
                            <li><a class="btn-floating">
                                <i class="red fa fa-tumblr"></i> Sign in with tumblr</a></li>
                            <li><a class="btn-floating">
                                <i class="red fa fa-google"></i> Sign in with google</a></li>
                        </ul>
                    </div>
                </div>
            </div>
</div>