<nav class="white">
    <div class= "nav-wrapper">
        <a href="/about" class="black-text col s12" id="navLogo">Chuck's Tees</a>
        <ul id="nav-mobile" class="center-align">
            <li><a href="/profile" class="navProfile">Profile</a></li>
            <li><a href="/login" class="navLogin">Login</a></li>
            <li><a href="/signup" class="navSignup">Sign Up</a></li>
        </ul>
    </div>
</nav>

<div class="login-image z-depth-5">
    <div class="row">
            <div class="col l6 m12 offset-l3">
                <a class="adminBtn waves-effect waves-light btn">Inventory</a>
                <a class="adminBtn waves-effect waves-light btn">Users</a>
            </div>
    </div>
</div>