<nav>
    <ul>
        <li class="btn red brandLogo border"><a href="/about">Chuck's Tees</a></li>
        <li class="border"><a href="/">Home</a></li>
        <li class="border"><a href="/users">Users</a></li>
        <li class="border"><a href="/inventory">Inventory</a></li>
    </ul>
</nav>

<div class="login-image z-depth-5">
    <div class="card center-align z-depth-4 adminCard">
        <h4 class="center-align black-text card-title">Admin</h4>
            <div class="col l6 m12 offset-l3" id="adminButtons">
                <button class="btn waves-effect waves-light red" type="submit" name="action"><a href="/inventory" id="inventorySubmit">Inventory</a></button>
                <button class="btn waves-effect waves-light red" type="submit" name="action"><a href="/users" id="userSubmit">Users</a></button>
            </div>
    </div>
</div>