<nav class="white">
    <div class= "nav-wrapper">
        <a href="/about" class="black-text col s12" id="navLogo">Chuck's Tees</a>
        <ul id="nav-mobile" class="center-align">
            <li><a href="/about" class="navAbout">Home</a></li>
            <li><a href="/profile" class="navProfile">Profile</a></li>
            <li><a href="/placeorder" class="navLogin">Place Order</a></li>
            <li><a href="/logout" class="navSignup">Logout</a></li>
        </ul>
    </div>
</nav>
<form action="/profile" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_l7zHN9jYSGIq2rgUDHaJ51tH"
            data-amount="999"
            data-name="Demo Site"
            data-description="Widget"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-billing-address="true"
            data-shipping-address="true"
            data-description="description"
            data-amount="87.71">
    </script>
</form>