<nav class="white">
    <div class= "nav-wrapper">
        <a href="/about" class="black-text col s12" id="navLogo">Chuck's Tees</a>
        <ul id="nav-mobile" class="center-align">
            <li><a href="/about" class="navAbout">Home</a></li>
            <li><a href="/profile" class="navProfile">Profile</a></li>
            <li><a href="/placeorder" class="navLogin">Place Order</a></li>
            <li><a href="/logout" class="navSignup">Logout</a></li>
        </ul>
    </div>
</nav>
<h1>TEST CHECKOUT ROUTE</h1>