<nav>
    <ul>
        <li class="btn red brandLogo border"><a href="/about">Chuck's Tees</a></li>
        <li class="border"><a href="/about">About</a></li>
        <li class="border"><a href="/profile">Profile</a></li>
        <li class="border"><a href="/placeorder">Shop</a></li>
        <li class="border"><a href="/logout">Logout</a></li>
    </ul>
</nav>

<div class="login-image z-depth-5">
    <div class="card center-align z-depth-4" id="loginCard">
        <h4 class="center-align black-text card-title">Thank you for your order, your confirmation number is {{confNum}}
        You will receive an email momentarily with your order summary. We will contact you in the next
        48 hours to discuss your desired design. Thank you for shopping at Chuck's Tees.
        </h4>

    </div>

</div>