<nav>
    <ul>
        <li class="btn red brandLogo border"><a href="/about">Chuck's Tees</a></li>
        <li class="border"><a href="/adminLanding">Admin Home</a></li>
        <li class="border"><a href="/inventory">Inventory</a></li>
        <li class="border"><a href="/users">Users</a></li>
    </ul>
</nav>

<div class="login-image z-depth-5">
    <div class="card z-depth-4" id="inventoryCard">
        <div class="card-content black-text">
            <span class="card-title center black-text">Inventory</span>
        </div>
    </div>
</div>



