<nav>
    <ul>
        <li class="btn red brandLogo border"><a href="/about">Chuck's Tees</a></li>
        <li class="border"><a href="/about">Home</a></li>
        <li class="border"><a href="/signup">Sign Up</a></li>
    </ul>
</nav>

<div class="login-image z-depth-5">
    <div class="card center-align z-depth-4" id="loginCard">
        <h4 class="center-align black-text card-title">Login</h4>
        <form method="post" action="/login">
            <div class="form-group" id="userName">
                <input class="form-control validate" id="username-input" name="username" type="text"
                       placeholder="Username" required/>
                {{#if message}}
                    <div class="alert alert-danger">{{message}}</div>
                        {{/if}}
            </div>

            <div class="form-group" id="password">
                <input type="password" class="form-control validate" id="password-input" name="password"
                       placeholder="Password" required/>
            </div>

            <input type="submit" class="btn waves-effect waves-light red loginButton" id="submit" value="Login"/>
            <div class="form-group black-text" id="noAccount">
                <strong>Don't have an account? Sign up </strong><a class="links" id="registerAccount" href="/signup"> here </a>
                </div>
        </form>
    </div>
</div>


