<nav>
    <ul>
        <li class="btn red brandLogo border"><a href="/about">Chuck's Tees</a></li>
        <li class="border"><a href="/" class="navAbout">Home</a></li>
        <li class="border"><a href="/login" class="navLogin">Login</a></li>
        <li class="border"><a href="/signup" class="navSignup">Sign Up</a></li>
    </ul>
</nav>

{{{Test}}}


<script>
    //logic for placing order and saving to db
var count = 0

    $( document ).ready(function() {
        if (count === 0){
            $.ajax("/ItemPurchased", {
                type: "PUT"
            }).then(function () {
                        //log to browser console to let us know that the database has been updated
                        console.log("update order to purchased status");
                        // Reload the page to get the updated list
                        location.reload();
                    })


        }
    });
</script>