<nav>
    <ul>
        <li class="btn red brandLogo border"><a href="/about">Chuck's Tees</a></li>
        <li class="border"><a href="/" class="navAbout">Home</a></li>
        <li class="border"><a href="/login" class="navLogin">Login</a></li>
        <li class="border"><a href="/signup" class="navSignup">Sign Up</a></li>
    </ul>
</nav>

<h1>{{{Test}}}</h1>